@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.main {
  padding: 20px;
}

.table-bar {
  text-align: center;
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-bar:not(:first-child) {
  padding-top: 20px ;
}

.sm-box {
  padding: 20px;
  display: table-cell;
}

.pink {
  background-color: #fdc8b8;
  width: 100px;
}

.purple {
  background-color: #e0abd9;
  /* 質問：width指定 */
  width: 100%;
}

.blue {
  background-color: #b6d8ed;
  width: 100px;
}

.yellow {
  background-color: #e5d32e;
  width: 100%;
}

.red {
  background-color: #ec8f9a;
  width: 100%;
}

.green {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
