@charset "UTF-8";

/* 回答はここに書いてね */
/* q9-1 */
.image-box {
  position: relative;
  width: 500px;
  margin: 0 auto;
  font-size: 0px;
  overflow: hidden;
}

.img-car , .img-discription {
  transition: all .5s;
}

.img-discription {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,8));
}

.img-discription-txt { 
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  word-break: break-all;
  color: #fff;
  padding: 20px;
  bottom: 0;
  left: 0;
}

.image-box:hover .img-car {
  transform: scale(1.5, 1.5);
}

.image-box:hover .img-discription{
  top: 0;
}

/* q9-2 */
.circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: #ecf1f2 10px solid;
  border-top: #00bcd4 10px solid;
  /* animation  .. @keyframes(定義） | duration | timing-function | iteration-count */
  animation: roading 1s linear infinite;
  animation-iteration-count: infinite;
}

@keyframes roading {
  0% { transform: rotate(0);}
  100% { transform: rotate(360deg);}
}


/* 回答はここに書いてね */
